<html>
<head>
  <title>ASyncApp</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" language="javascript" charset="utf-8"></script>
  <script type="text/javascript" language="javascript" charset="utf-8">
  // <![CDATA[
    WEB_SOCKET_SWF_LOCATION = '/swf/WebSocketMain.swf';
    window.ws_domain = '<%= request.host %>';
    window.ws_port = '<%= request.port %>';
    window.ws_path = 'chat';
  // ]]>
  </script>
  <%= javascript_include_tag 'swfobject', 'FABridge', 'web_socket', 'communicator', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%- for message_type in @flash_types do -%>
<%-   if flash.include? message_type -%>
  <div id="<%= message_type.to_s %>"><%= flash[message_type] %></div>
<%-   end -%>
<%- end -%>

<%= yield %>

</body>
</html>
